.App {
  text-align: center;
}

.AppBody {
  padding: 20px 5vw;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* padding-top: 40px; */
}

.Container {
  margin-top: 40px;
}

.Tabs {
  padding: 10px;
  display: flex;
  color: #9b0cef;
  font-size: 20px;
  font-weight: bold;
}

.TabItem {
  padding-right: 30px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer;
}

.TabItemActive {
  color: #7f7bba;
  border-bottom: 2px solid #eeeeee;
  /* padding-bottom: 20px; */
}

.MovieGrid {
  cursor: pointer;
}

.MovieGrid :hover {
  background-color: #9b0cef;
}

.Title {
  font-size: 25px;
  font-weight: bold;
  color: #9b0cef;
}

.SubTitle {
  font-size: 20px;
  font-weight: bold;
  color: #0f0d10;
}
.SubText {
  font-size: 18px;
  color: #202020;
}

.PointText {
  font-size: 20px;
  color: #01146a;
  padding: 5px;
}

.image {
  border-radius: 20px;
}

.imageThumbnail {
  width: 70%;
  height: 250px;
}
.MovieItemTestHeight {
  height: 40px;
}

.MovieCardPaper {
  padding: 10px;
}

.CenterContent {
  text-align: center;
}

.RightContent {
  text-align: right;
}

.DialogueWrapper {
  width: 60vw;
}

.WhiteBackground {
  background: white;
}

.PaginationContainer {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
